body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*container*/
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*header*/
.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
}

.header-navigation {
}

.header-logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu {
  gap: 40px;
}

.header-menu-link {
  display: inline-block;
  position: relative;
  padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link.active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: inline-block;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.active:hover::after,
.header-menu-link.active:focus::after {
  background-color: #404bbf;
}

.active.header-menu-link::after {
  background-color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-soc {
  gap: 40px;
}

.header-soc-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-soc-link:hover,
.header-soc-link:focus {
  color: #404bbf;
}

/*sections*/

.section {
  padding: 120px 0;
}

/*section-solutions*/
.solutions {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.solution-container {
}

.solutions-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.solutions-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-button:hover,
.solutions-button:focus {
  background-color: #404bbf;
}

/*section-strategy*/

.strategy {
}

.strategy-icons {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin-bottom: 8px;
}

.strategy-icons-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  max-width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.strategy-icons-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
}

.strategy-list {
  display: flex;
}

.strategy-item {
  flex-basis: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.strategy-item:last-child {
  margin-right: 0;
}

.strategy-item-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.strategy-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.strategy-list-item-title {
}

.strategy-list-item-text {
}

/*section-team*/

.team {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  margin-right: 24px;
  text-align: center;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:last-child {
  margin-right: 0;
}

.team-item-photo {
}

.team-item-text {
  padding: 32px 0;
}

.team-item-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item-name {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-icon {
  color: currentColor;
  fill: #f4f4fd;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/*section-portfolio*/

.portfolio {
}
.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  background-color: #fff;
  border: 1px solid #e7e9fc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-img {
}

.portfolio-item-overflow {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-overflow {
  transform: translateY(0%);
}

.portfolio-item:hover {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item:hover .portfolio-item-description {
  border-color: #f4f4fd;
}

.portfolio-item-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*footer*/

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-text {
  margin-right: 120px;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-container-social {
  margin-right: auto;
}

.footer-container-social-title {
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-footer {
  gap: 16px;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container-form-title {
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-name {
  padding: 8px 16px;
  height: 40px;
  width: 264px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #fff;
  outline: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-name::placeholder {
  color: #fff;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 165px;
  border-radius: 4px;
  background: #4d5ae5;
  padding: 8px 24px;
  text-align: left;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}

.footer-form-btn .social-icon {
  margin-left: 16px;
}

/**********Modal************/
.backdrop {
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opcity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  fill: #2e2f42;
  stroke: none;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:active,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:active .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #fff;
}

.modal-title {
  margin-bottom: 16px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-input {
  padding-left: 38px;
  padding-right: 16px;
  width: 100%;
  height: 40px;
  color: #2e2f42;
  font-size: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-form-btn {
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:active {
  background-color: #404bbf;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-field {
  margin-bottom: 8px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field.wrap-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-field.wrap-check {
  margin-bottom: 24px;
}

.modal-check:checked + .check-text > .check-text-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 25ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-text-box {
  display: inline-flex;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text-box-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}
